---
import Layout from "../layouts/Layout.astro";
import FileList from "../components/FileList.astro";
---

<Layout title="My Files">
	<h1 class="text-3xl font-bold mb-6">My Files</h1>
	<FileList />
</Layout>
