---
const currentYear = new Date().getFullYear();
---

<footer class="bg-secondary mt-auto py-4">
	<div class="container mx-auto px-4 text-center text-secondary-foreground">
		<p>&copy; {currentYear} Lisn. All rights reserved.</p>
	</div>
</footer>
