---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title} - Lisn</title>
	</head>
	<body class="flex flex-col min-h-screen bg-background text-foreground">
		<Header />
		<main class="flex-grow container mx-auto px-4 py-8">
			<slot />
		</main>
		<Footer />
	</body>
</html>
